* {
    box-sizing: border-box;
}

body {
    background-color: rgb(53, 54, 58);
    margin: 0;
    padding: 0;
    color: white;
}

.nav {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.nav-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.accounts {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.profile-image {
    border-radius: 50%;
}

.content {
    font-family: system-ui, sans-serif;
}

.doodle-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

#doodle {
    background-color: rgb(31, 31, 31);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 448px;
    height: 192px;
}

.search-bar-container {
    margin-bottom: 20px;
}

.search-bar {
    margin: auto;
    padding: 12px 20px;
    width: 561px;
    height: 44px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-bar > img {
    max-width: 100%;
    max-height: 100%;
}

.search-input {
    flex-grow: 1;
    color: black;
    border: none;
    appearance: none;
    font-size: 16px;
    outline: none;
}

.search-input:focus::placeholder {
    color: transparent;
  }

.add-shortcut-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.tile {
    width: 112px;
    height: 112px;
    padding-top: 16px;
    font-size: 13px;
}

.add-button {
    background-color: #202124;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-button > img {
    max-width: 100%;
    max-height: 100%;
}

.add-shortcut-label {
    margin-top: 8px;
    padding: 8px;
    text-align: center;
}

.drive-modal {
    background-color: rgb(32, 33, 36);
    width: 560px;
    height: 220px;
    margin: auto;
    padding: 10px;
}


.header-container {
    display: flex;
    align-items: center;
}

.header-title {
    margin-right: auto;
}

.header-container img {

}
