* {
    box-sizing: border-box;
}

body {
    background-color: rgb(53, 54, 58);
    margin: 0;
    padding: 0;
    color: white;
}

.nav {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    padding: 20px;
}

.nav-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li:hover,
.apps:hover {
    opacity: 0.5;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: white;
}

.accounts {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.apps:hover {
    width: 110%;
    height: 110%;
}

.filter {
    filter: invert(100%);
}

.profile-image {
    border-radius: 50%;
}

.profile-image:hover {
    opacity: 80%;
}

.content {
    font-family: system-ui, sans-serif;
}

.doodle-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.doodle {
    background-color: rgb(31, 31, 31);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 448px;
    height: 192px;
}

.doodle:hover {
    background-color: rgba(12, 31, 31, 0.58);
    transition: 0.3s ease-in;
}

.doodle:not(:hover) { 
    background-color: rgb(31, 31, 31);
    transition: 0.1s ease-in;
 } 




.search-bar-container {
    margin-bottom: 20px;
}

.search-bar {
    margin: auto;
    padding: 12px 20px;
    width: 561px;
    height: 44px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-bar > img {
    max-width: 100%;
    max-height: 100%;
}

.search-input {
    flex-grow: 1;
    color: black;
    border: none;
    appearance: none;
    font-size: 16px;
    outline: none;
}

.search-input:focus::placeholder {
    color: transparent;
  }

.add-shortcut-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.tile {
    width: 112px;
    height: 112px;
    padding-top: 16px;
    font-size: 13px;
    border-radius: 5px;
}

.add-button {
    background-color: #202124;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-button > img {
    max-width: 100%;
    max-height: 100%;
}

.tile:hover img {
    filter: invert(100%);
}

.add-shortcut-label {
    margin-top: 8px;
    padding: 8px;
    text-align: center;
}

.drive-modal {
    background-color: rgb(32, 33, 36);
    width: 560px;
    height: 100%;
    margin: auto;
    padding-bottom: 5px;
    border: 1px solid rgba(154, 160, 166, 0.415);
    border-radius: 5px;
}

.drive-modal * {
    color: rgb(232, 234, 237);
}

.header-container {
    display: flex;
    align-items: center;
    padding: 10px 8px 8px 16px;
}

.header-container > .button-background {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container > .button-background > img {
    max-width: 50%;
    max-height: 50%;
}

.header-container > .button-background > img:hover {
    filter: invert(100%);
}

.header {
    margin-right: auto;
}

.drive-file {
    height: 56px;
    padding: 8px 18px;
    font-size: 13px;
    display: flex;
    line-height: 20px;
}

.drive-file > img {
    display: block;
    width: 20px;
    height: 20px;
    margin: 3px 19px 0 0;
}

.description > .info {
    font-size: 12px;
    color: rgb(154, 160, 166)
}

.hoverable:hover {
    background-color: rgba(255, 255, 255, 0.116);
}

.drive-modal {
    animation: fadeInAnimation ease-out 0.9s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}